body {
    padding: 0;
    margin: 0;
    background-color: #d91b1e;
}

body.yes {
    background-color: #c39bce;
    background-image: url('../images/cutecat.webp');
    background-size: auto;
}

body.yes .confirm {
    display: none;
}

body.yes .dialog {
    display: block;
}

.heart {
    animation: heartbeat 1s infinite;
    background-color: red;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: Spx;
}

.heart::before,
.heart::after {
    content: '';
    background-color: red;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    position: absolute;
}

.heart::before {
    top: -5px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 5px;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.25);
    }
    40% {
        transform: scale(1.5);
    }
}

.confirm {
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c39bce;
    box-shadow: 3px 3px 3px #8b4a8a;
    border-radius: 5px;
}

.confirm__container {
    padding: 10px;
}

.confirm__container .title {
    color: white;
    text-align: center;
    font-size: 22px;
}

.confirm__actions {
    display: flex;
    column-gap: 10px;
}

.confirm__actions button{
    width: 100%;
    cursor: pointer;
    font-size: 10px;
    border: none;
    padding: 5px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}

.confirm__actions .btn-yes {
    background-color: #c39bce;
}

.confirm__actions .btn-no {
    position: relative;
    background-color: #c39bce;
}

.dialog {
    display: none;
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c39bce;
    box-shadow: 3px 3px 3px rgb(160, 69, 116);
    border-radius: 5px;
    font-size: 22px;
}

.dialog__container {
    padding: 15px 5px;
}

.dialog__container p {
    color: white;
    text-align: center;
}
